<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myfirstapp.example.com.sms" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_excite"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.safetyapp.sms.SMS"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowEnableSplitTouch="false"
            android:splitMotionEvents="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.safetyapp.sms.SetContactActivity"
            android:label="@string/title_activity_set_contact" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="myfirstapp.example.com.sms.SMS" />
        </activity>
        <activity
            android:name="com.safetyapp.sms.SetMessageActivity"
            android:label="@string/title_activity_set_message" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="myfirstapp.example.com.sms.SMS" />
        </activity>
        <activity
            android:name="com.safetyapp.sms.SetEmergencyActivity"
            android:label="@string/action_set_enum" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="myfirstapp.example.com.sms.SMS" />
        </activity>
    </application>

</manifest>
